.SideNav {
    background: #FFFF00;
    height:100vh;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.iconsWrapper {
    display : flex;
    flex-direction : column;
}
.iconsWrapper span{
    margin : 25px 0 ;
}