.historyWrapper{
    padding : 35px 80px;
}
.historyItemWrapper  {
    width: 182px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 20px 25px;
    display :flex ; 
    flex-direction: row;
    margin : 0px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
}
.historyWrapper button {
    display: inline-flex;
    font-family: Quicksand;
    font-style: normal;
    text-align: left;
    font-size :14px;
    line-height :17px;
    align-items: center;
    color:#F9A109;
    cursor:pointer;
    border:none;
    background: none;
    margin: 30px 10px 50px 0;
}

.historyWrapper h1{
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #34333A;
    text-align: left;
}
.historyWrapper .itemsContainer{
    display: flex; 
    flex-direction: row;
}
.historyWrapper h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #C1C1C4;
    text-align: left;
}
